extends ../layout/layout.pug
block vars
	- var title = 'Каталог общая';
block header
	include ../includes/header.pug
block content
	include ../includes/content-catalog-categories.pug
block footer
	include ../includes/footer.pug