extends ../layout/layout.pug
block vars
	- var title = 'Новость детальная';
block header
	include ../includes/header.pug
block content
	include ../includes/content-news-detail.pug
block footer
	include ../includes/footer.pug