extends ../layout/layout.pug
block vars
	- var title = 'Где купить';
block header
	include ../includes/header.pug
block content
	include ../includes/content-where-buy.pug
block footer
	include ../includes/footer.pug