main.main
	.container
		.breadcrumbs 
			ul 
				li 
					a Главная 
				li НОВОСТИ И СТАТЬИ
		h1.h1 НОВОСТИ И СТАТЬИ
		.news
			.news__items 
				.news__item 
					a.news__info(href="")
						img.news__img(src="./img/news1.jpg" alt="")
						span.news__date 13.12.2023
					a.news__name(href="") Уже в продаже! Новая линейка сухих супер-премиальных кормов.
				.news__item 
					a.news__info(href="")
						img.news__img(src="./img/news2.jpg" alt="")
						span.news__date 13.12.2023
					a.news__name(href="") Новые виды в линейке сухих кормом ТМ Верные друзья
				.news__item 
					a.news__info(href="")
						img.news__img(src="./img/news3.jpg" alt="")
						span.news__date 13.12.2023
					a.news__name(href="") Новый дизайн упаковки Ночной охотник 100 гр
				.news__item 
					a.news__info(href="")
						img.news__img(src="./img/news4.jpg" alt="")
						span.news__date 13.12.2023
					a.news__name(href="") Новый дизайн упаковки Ночной охотник 415 гр. 
				.news__item 
					a.news__info(href="")
						img.news__img(src="./img/news1.jpg" alt="")
						span.news__date 13.12.2023
					a.news__name(href="") Уже в продаже! Новая линейка сухих супер-премиальных кормов.
				.news__item 
					a.news__info(href="")
						img.news__img(src="./img/news2.jpg" alt="")
						span.news__date 13.12.2023
					a.news__name(href="") Новые виды в линейке сухих кормом ТМ Верные друзья
				.news__item 
					a.news__info(href="")
						img.news__img(src="./img/news3.jpg" alt="")
						span.news__date 13.12.2023
					a.news__name(href="") Новый дизайн упаковки Ночной охотник 100 гр
				.news__item 
					a.news__info(href="")
						img.news__img(src="./img/news4.jpg" alt="")
						span.news__date 13.12.2023
					a.news__name(href="") Новый дизайн упаковки Ночной охотник 415 гр. 
				.news__item 
					a.news__info(href="")
						img.news__img(src="./img/news1.jpg" alt="")
						span.news__date 13.12.2023
					a.news__name(href="") Уже в продаже! Новая линейка сухих супер-премиальных кормов.
				.news__item 
					a.news__info(href="")
						img.news__img(src="./img/news2.jpg" alt="")
						span.news__date 13.12.2023
					a.news__name(href="") Новые виды в линейке сухих кормом ТМ Верные друзья
				.news__item 
					a.news__info(href="")
						img.news__img(src="./img/news3.jpg" alt="")
						span.news__date 13.12.2023
					a.news__name(href="") Новый дизайн упаковки Ночной охотник 100 гр
				.news__item 
					a.news__info(href="")
						img.news__img(src="./img/news4.jpg" alt="")
						span.news__date 13.12.2023
					a.news__name(href="") Новый дизайн упаковки Ночной охотник 415 гр. 
				.news__item 
					a.news__info(href="")
						img.news__img(src="./img/news1.jpg" alt="")
						span.news__date 13.12.2023
					a.news__name(href="") Уже в продаже! Новая линейка сухих супер-премиальных кормов.
				.news__item 
					a.news__info(href="")
						img.news__img(src="./img/news2.jpg" alt="")
						span.news__date 13.12.2023
					a.news__name(href="") Новые виды в линейке сухих кормом ТМ Верные друзья
				.news__item 
					a.news__info(href="")
						img.news__img(src="./img/news3.jpg" alt="")
						span.news__date 13.12.2023
					a.news__name(href="") Новый дизайн упаковки Ночной охотник 100 гр
				.news__item 
					a.news__info(href="")
						img.news__img(src="./img/news4.jpg" alt="")
						span.news__date 13.12.2023
					a.news__name(href="") Новый дизайн упаковки Ночной охотник 415 гр. 
			.pagination
				.pagination__pages 
					a.pagination__left(href="")
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><circle cx="12" cy="12" r="10" transform="rotate(90 12 12)" stroke="#F48C37"/><path d="M13.5 15L10.5 12L13.5 9" stroke="#F48C37" stroke-linecap="round" stroke-linejoin="round"/></svg>
					.pagination__text 
						.pagination__active-page 1
						.pagination__divider /
						.pagination__pages-count 15
					a.pagination__right(href="")
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><circle cx="12" cy="12" r="10" transform="rotate(-90 12 12)" stroke="#F48C37"/><path d="M10.5 9L13.5 12L10.5 15" stroke="#F48C37" stroke-linecap="round" stroke-linejoin="round"/></svg>
				button.button.button_show-more() ПОКАЗАТЬ ЕЩЕ