main.main
	.container
		.breadcrumbs 
			ul 
				li 
					a Главная 
				li 
					a Новости
				li Уже в продаже! Новая линейка сухих супер-премиальных кормов. ТМ Милый котик, ТМ Милый пес
		h1.h1 Уже в продаже! Новая линейка сухих супер-премиальных кормов. ТМ Милый котик, ТМ Милый пес
		.news-detail 
			.news-detail__img 
				img(src="./img/news-detail.png" alt="")
			.news-detail__text 
				p Представляем вам новые сухие специализированные корма супер-премиум класса для кошек — ТМ Милый котик, и собак — ТМ Милый пёс. Корма представлены в трёх линейках. Sensitive (Милый котик и Милый пёс)Рецептура корма предназначена для кошек с чувствительным пищеварением и разработана таким образом, чтобы сократить риск появления аллергии. Тщательно отобранные натуральные ингредиенты способствуют укреплению иммунной и пищеварительной системы и помогают предотвратить возникновение воспалительных процессов в организме кошки. Вкусы в линейке: Индейка и рис.
				p Indoor (Милый котик) Полноценный сбалансированный рацион для домашних кошек с низкой физической активностью или живущих в помещении. Корм подходит для контроля веса питомцев, склонных к полноте. Оптимальный баланс питательных веществ и умеренное содержание калорий способствуют профилактике ожирения у кошек, ведущих малоподвижный образ жизни. Корм содержит важнейшие антиоксиданты, такие как витамин Е, для укрепления иммунной системы. Оптимальный баланс омега-3 и омега-6 в составе корма чрезвычайно важен для поддержания кожи и шерсти в отличном состоянии.Вкусы в линейке: для котят; для крупных кошек «Говядина, овёс и хондроитин»; для взрослых кошек «Ягнёнок, тыква и овёс».
				p Light (Милый пёс) Полноценный и сбалансированный рацион для собак живущих в помещении, ведущих малоподвижный образ жизни или собак с повышенной массой тела. Малоподвижным собакам и собакам, имеющим лишний вес, особенно необходим правильно подобранный рацион. Поэтому линейка корма LIGHT содержит много белков и сниженный уровень углеводов, тем самым обеспечивает поддержание мышечной массы и препятствует отложению жира. Вкусы в линейке: «Оленина с овсом» для малых пород; «Индейка, овёс и овощи» для средних пород; «Ягнёнок с овсом» для крупных пород.
				p Гипоаллергенные (Милый котик и Милый пёс) Полноценный сбалансированный рацион для взрослых кошек, которые обладают повышенной чувствительностью к компонентам корма. Корм содержит простые и легкоусваиваемые полезные ингредиенты, имеет превосходный и натуральный вкус без добавления искусственных ароматизаторов и богат всеми необходимыми витаминами. Рецептура корма предотвращает аллергические реакции и пищевую непереносимость. Вкусы в линейке: Ягнёнок и рис, 7 видов рыб и рис.
		a.button.button_white(href="") Вернуться