main.main
	.section-categories
		.container
			p Список страниц
			ul 
				li
					a(href="index.html") Главная
	//- a(href="404.html") 404
	//- a(href="text.html") Текстовая
						//- form(action="" method="")
						//- 	.form 
						//- 		.form__block 
						//- 			input.form__input(type="text" placeholder="ФИО")
						//- 		.form__block 
						//- 			input.form__input(type="tel" placeholder="Телефон")
						//- 		.form__block 
						//- 			input.form__input(type="email" placeholder="E-mail")
						//- 		textarea.form__textarea(placeholder="Текст сообщения")
						//- 		input.form__submit(type="submit" value="Отправить")
