main.main
	.container
		.section-404 
			.section-404__block
				.section-404__info 
					.section-404__title 404
					.section-404__subtitle Страница не найдена
					.section-404__text Попробуйте посмотреть на главной или перейдите в каталог. У нас огромный выбор корма для вашего питомца
					.section-404__buttons 
						a.button(href="/") Вернуться на главную