main.main
	.container
		.breadcrumbs 
			ul 
				li 
					a Главная 
				li 
					a Каталог
				li 
					a СОБАКИ
				li СУХОЙ КОРМ ДЛЯ СОБАК «ЯГНЁНОК И РИС»
		h1.h1 СУХОЙ КОРМ ДЛЯ СОБАК «ЯГНЁНОК И РИС»
		.product 
			.product__columns
				.product__img 
					img(src="./img/product-big.png" alt="")
				.product__desc
					.product__variants
						.variants
							.variants-name Фасовка: 
							.variants-items 
								.variants-item.active 5 кг
								.variants-item 15 кг
					.product__title Описание
					.product__text Сухой полнорационный гипоаллергенный корм для взрослых собак крупных пород «Верные друзья» специально разработан для удовлетворения потребностей в питательных веществах организма взрослой собаки и включает в состав хондропротекторы для профилактики заболеваний суставов. Полезная рецептура содержит высококачественные и легкоусвояемые ингредиенты (мясо ягнёнка, рис). Ценные омега-3 и омега-6 жирные кислоты обеспечивают здоровье кожи и блестящую шерсть. Корм «Верные друзья» идеально подходит чувствительным к корму собакам с нормальными потребностями в энергии и протеине. Формула содержит все витамины и минеральные вещества, необходимые для сбалансированного питания собаки. Корм не содержит искусственные ароматизаторы и красители.
					.product__buttons 
						button.button.button_order.open-popup-link(data-mfp-src="#order-popup" data-effect="mfp-zoom-in") ЗАКАЗАТЬ
						.product__shops
							.icon-wildberries
							.icon-ozon
		.tabs.product__tabs 
			ul 
				li СОСТАВ
				li КАЛЬКУЛЯТОР НОРМЫ КОРМА
			div 
				div 
					.product__params 
						.product__params-name Сырьевой состав (на 100 г):
						.product__params-value дегидрированное мясо ягненка, цельный белый рис, дегидрированное мясо индейки, кукуруза, жир животный пищевой, семена льна, дрожжи, печеночный экстракт, соевое масло, сухое цельное яйцо, лососевый жир 0,5%, розмарин, экстракт Юкки Шидигера, глюкозамина сульфат 500 мг/кг, хондроитина сульфат 250 мг/кг, минеральные вещества (цинк, медь, кобальт, железо, йод, калий, кальций, фосфор, селен, магний), комплекс витаминов А, D3, Е, К, холин В4, никотиновая кислота В3, пантотеновая кислота В5, рибофлавин В2, тиамин В1, цианокобаламин В12, фолиевая кислота В9, биотин. Технологические добавки: антиокислители, консервант Tocopherol (витамин Е).
					.product__params 
						.product__params-name Питательный состав (на 100 г):
						.product__params-value протеин - 26%, жиры - 14%, зольность - 6%, клетчатка - 3%, кальций - 1,5%, фосфор - 1,0%, влажность не более - 10%, вит. А - 18000 МЕ/кг, вит. D3 - 1500 МЕ/кг, вит. Е - 400 мг/кг. Полиненасыщенные жирные кислоты Омега-6 и Омега-3 не менее – 2%.
					.product__params 
						.product__params-name Энергетическая ценность (на 100 г):
						.product__params-value 371 ккал/100 гр.
				div
					.calc 
						.calc__column
							label.form__label.form__label_static Вес животного (кг)
							.select-custom.select-custom_white 
								select(name="weight")
									option(value="") Выберите значение веса
									option(value="12") 12
									option(value="14") 14
							label.form__label.form__label_static Норма веса (кг)
							.select-custom.select-custom_white 
								select(name="normal")
									option(value="") Выберите значение нормы
									option(value="10") 10
									option(value="12") 12
							button.button.button-calc РАССЧИТАТЬ
						.calc__results
							.calc__title Дневная норма составляет: 
							.calc__result 0 г/сутки
