main.main
	.section-slider 
		.container 
			.section-slider__block 
				.section-slider__slide(style="background-image:url(./img/slide.jpg)")
					.section-slider__info 
						.section-slider__title Полноценный рацион для собак и кошек
						.section-slider__text Каждый питомец заслуживает корма, который отвечает его потребностям
						a.button(href="") В КАТАЛОГ
				.section-slider__slide(style="background-image:url(./img/slide.jpg)")
					.section-slider__info 
						.section-slider__title Полноценный рацион для собак и кошек
						.section-slider__text Каждый питомец заслуживает корма, который отвечает его потребностям
						a.button(href="") В КАТАЛОГ
	.section-categories 
		.container 
			.section-categories__items 
				a.section-categories__item(href="" style="background-image:url(../img/category-cats.png)") 
					span КОШКИ
				a.section-categories__item(href="" style="background-image:url(../img/category-dogs.png)") 
					span СОБАКИ
				a.section-categories__item(href="" style="background-image:url(../img/category-ferrets.png)") 
					span ХОРЬКИ
				a.section-categories__item(href="" style="background-image:url(../img/category-birds.png)") 
					span ПТИЦЫ
				a.section-categories__item(href="" style="background-image:url(../img/category-rodents.png)") 
					span ГРЫЗУНЫ
	.section-about 
		.container 
			.section-about__block 
				.section-about__info 
					.section-about__subtitle О КОМПАНИИ
					.section-about__title Компания «ПродКонтрактИнвест» - ведущий российский производитель консервированных кормов для домашних животных.
					.section-about__text Широкий ассортимент нашей продукции удовлетворит самого взыскательного заводчика.Корма нашей компании разработаны для здоровой жизни питомцев на каждом этапе его взросления.
	.section-advantages 
		.container 
			.section-advantages__items
				.section-advantages__item
					.section-advantages__count 01
					.section-advantages__name Натуральные<br>ингридиенты
					.section-advantages__text Мы любим ваших питомцев не меньше вас, поэтому не использоуем искусственных добавок и ГМО.
				.section-advantages__item
					.section-advantages__count 02
					.section-advantages__name Собственное<br>производство
					.section-advantages__text Наша компания производит корма на собственном оборудовании, работаем с 2001 года.
				.section-advantages__item
					.section-advantages__count 03
					.section-advantages__name Сертификаты<br>качества
					.section-advantages__text Продукция разработана с участием отечественных и западных специалистов. Имеет сертификаты качества.
	.section-news 
		.container 
			.section-caption новости и статьи
			.section-news__items 
				.section-news__item 
					a.section-news__info(href="")
						img.section-news__img(src="./img/news1.jpg" alt="")
						span.section-news__date 13.12.2023
					a.section-news__name(href="") Уже в продаже! Новая линейка сухих супер-премиальных кормов.
				.section-news__item 
					a.section-news__info(href="")
						img.section-news__img(src="./img/news2.jpg" alt="")
						span.section-news__date 13.12.2023
					a.section-news__name(href="") Новые виды в линейке сухих кормом ТМ Верные друзья
				.section-news__item 
					a.section-news__info(href="")
						img.section-news__img(src="./img/news3.jpg" alt="")
						span.section-news__date 13.12.2023
					a.section-news__name(href="") Новый дизайн упаковки Ночной охотник 100 гр
				.section-news__item 
					a.section-news__info(href="")
						img.section-news__img(src="./img/news4.jpg" alt="")
						span.section-news__date 13.12.2023
					a.section-news__name(href="") Новый дизайн упаковки Ночной охотник 415 гр. 
	.section-brands
		.container 
			.section-caption БРЕНДЫ
			.section-brands__items
				a.section-brands__item(href="")
					span.section-brands__logo 
						img(src="./img/brand1.png" alt="")
					span.section-brands__list 
						span.section-brands__list-item Консервированные корма
						span.section-brands__list-item Сухие корма для котят
						span.section-brands__list-item Сухие корма для взрослых кошек
						span.section-brands__list-item Сухие корма для пожелых кошек
						span.section-brands__list-item Гигиенические наполнители
				a.section-brands__item(href="")
					span.section-brands__logo 
						img(src="./img/brand2.png" alt="")
					span.section-brands__list 
						span.section-brands__list-item Консервированные корма
						span.section-brands__list-item Сухие корма для щенков
						span.section-brands__list-item Сухие корма для взрослых собак
						span.section-brands__list-item Сухие корма для пожилых собак
						span.section-brands__list-item Лакомства для собак
				a.section-brands__item(href="")
					span.section-brands__logo 
						img(src="./img/brand3.png" alt="")
					span.section-brands__list 
						span.section-brands__list-item Консервированные корма с травами для кошек
				a.section-brands__item(href="")
					span.section-brands__logo 
						img(src="./img/brand4.png" alt="")
					span.section-brands__list 
						span.section-brands__list-item Зерновые корма для птиц
						span.section-brands__list-item Зерновые лакомства для птиц
						span.section-brands__list-item Зерновые корма для грызунов
						span.section-brands__list-item Зерновые лакомства для грызунов
	.section-faq 
		.container 
			.section-caption ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
			.section-faq__items 
				.section-faq__item 
					.section-faq__name Как мне перевести питомца на новый корм?
					.section-faq__text Рекомендации по кормлению своего питомца вы найдёте на каждой упаковке корма. Обращаем ваше внимание, ч    то указанные производителем нормы кормления — это отправная точка. Чтобы ваш питомец всегда был в отличной форме необходимо регулярно оценивать его физическое состояние и при необходимости корректировать рацион в большую или меньшую сторону.
				.section-faq__item 
					.section-faq__name Как мне перевести питомца на новый корм?
					.section-faq__text 
						p Рекомендации по кормлению своего питомца вы найдёте на каждой упаковке корма. Обращаем ваше внимание, ч    то указанные производителем нормы кормления — это отправная точка. Чтобы ваш питомец всегда был в отличной форме необходимо регулярно оценивать его физическое состояние и при необходимости корректировать рацион в большую или меньшую сторону.
						p Рекомендации по кормлению своего питомца вы найдёте на каждой упаковке корма. Обращаем ваше внимание, ч    то указанные производителем нормы кормления — это отправная точка. Чтобы ваш питомец всегда был в отличной форме необходимо регулярно оценивать его физическое состояние и при необходимости корректировать рацион в большую или меньшую сторону.
				.section-faq__item 
					.section-faq__name Можно ли смешивать ваши корма с консервами других производителей?
					.section-faq__text Рекомендации по кормлению своего питомца вы найдёте на каждой упаковке корма. Обращаем ваше внимание, ч    то указанные производителем нормы кормления — это отправная точка. Чтобы ваш питомец всегда был в отличной форме необходимо регулярно оценивать его физическое состояние и при необходимости корректировать рацион в большую или меньшую сторону.
				.section-faq__item 
					.section-faq__name Какие преимущества полнорационного корма?
					.section-faq__text Рекомендации по кормлению своего питомца вы найдёте на каждой упаковке корма. Обращаем ваше внимание, ч    то указанные производителем нормы кормления — это отправная точка. Чтобы ваш питомец всегда был в отличной форме необходимо регулярно оценивать его физическое состояние и при необходимости корректировать рацион в большую или меньшую сторону.
					

