main.main
	.container
		.breadcrumbs 
			ul 
				li 
					a Главная
				li Поиск
		h1.h1 поиск
		.page-search
			.page-search__block
				form.search__form(action="" method="get")
					button.search__button(type="submit")
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><circle cx="11.5" cy="11.5" r="9.5" stroke="#0C0C0C" stroke-width="1.5"/>  <path d="M18.5 18.5L22 22" stroke="#0C0C0C" stroke-width="1.5" stroke-linecap="round"/></svg>
					input.search__input(type="text" value="Консервированные корма" placeholder="Поиск") 
					.search__results 
						.search__result 
							a(href="") Консервированные корма с травами для кошек
						.search__result 
							a(href="") Консервированные корма для собак
						.search__result 
							a(href="") Консервированные корма
			.page-search__results 
				.no-products
					.no-products__img
						img(src="./img/no-products.png" alt="")
					.no-products__text
						.no-products__caption Мы не смогли ничего найти по вашему запросу
						.no-products__subtext Проверьте написание
						.no-products__subtext Перефразируйте поисковый запрос
				.page-search__counts Найдено: 3 результата
				.page-search__result-section
					.page-search__result-block
						.h1 В каталоге
						.catalog__items.catalog__items_four
							- for (var x = 0; x < 8; x++)
								+product-card('product.png', 'Сухой корм для собак «Ягнёнок и рис»', '')
					.page-search__result-block
						.h1 БРЕНДЫ
						.section-brands__items.no-slider
							.section-brands__item
								span.section-brands__logo 
									img(src="./img/brand4.png" alt="")
								span.section-brands__list 
									a.section-brands__list-item(href="") Зерновые корма для птиц
									a.section-brands__list-item(href="") Зерновые лакомства для птиц
									a.section-brands__list-item(href="") Зерновые корма для грызунов
									a.section-brands__list-item(href="") Зерновые лакомства для грызунов
						

			