main.main
	.container
		.breadcrumbs 
			ul 
				li 
					a Главная 
				li КАТАЛОГ
		h1.h1 Каталог
		.catalog-categories
			.catalog-categories__items 
				a.catalog-categories__item(href="" style="background-image:url(./img/category-cats-big.png)")
					span.catalog-categories__name КОШКИ
				a.catalog-categories__item(href="" style="background-image:url(./img/category-dogs-big.png)") 
					span.catalog-categories__name СОБАКИ
				a.catalog-categories__item(href="" style="background-image:url(./img/category-ferrets-big.png)") 
					span.catalog-categories__name ХОРЬКИ
				a.catalog-categories__item(href="" style="background-image:url(./img/category-birds-big.png)") 
					span.catalog-categories__name ПТИЦЫ
				a.catalog-categories__item(href="" style="background-image:url(./img/category-rodents-big.png)") 
					span.catalog-categories__name ГРЫЗУНЫ
		