main.main
	.section-categories
		.container
			p Список страниц
			ul 
				li
					a(href="index.html") Главная
				li
					a(href="404.html") 404
				li
					a(href="text.html") Текстовая страница
				li
					a(href="catalog-categories.html") Каталог общая
				li
					a(href="catalog.html") Каталог список
				li
					a(href="brands.html") Бренд
				li
					a(href="product.html") Карточка товара
				li
					a(href="where-buy.html") Где купить
				li
					a(href="news.html") Новости и статьи
				li
					a(href="news-detail.html") Новости детальная
				li
					a(href="search.html") Поиск
				li
					a(href="contacts.html") Контакты
	//- a(href="404.html") 404
	//- a(href="text.html") Текстовая
						//- form(action="" method="")
						//- 	.form 
						//- 		.form__block 
						//- 			input.form__input(type="text" placeholder="ФИО")
						//- 		.form__block 
						//- 			input.form__input(type="tel" placeholder="Телефон")
						//- 		.form__block 
						//- 			input.form__input(type="email" placeholder="E-mail")
						//- 		textarea.form__textarea(placeholder="Текст сообщения")
						//- 		input.form__submit(type="submit" value="Отправить")
