footer.footer
	.container
		.footer__inner
			.footer__info
				.footer__logo 
					a(href="/")
						img(src="./img/logo.png" alt="")
				.footer__menu 
					ul 
						li 
							a(href="") КАТАЛОГ
						li 
							a(href="") где купить
						li 
							a(href="") новости и статьи
					ul
						li 
							a(href="") контакты
				.footer__contacts 
					a.footer__phone(href="tel:+7 928 229-78-08") +7 928 229-78-08
					a.footer__mail(href="") pki.zoo-mir@yandex.ru
					.footer__address 347041, Ростовская область, г. Белая Калитва, Совхозная, 52а
					.footer__socials.socials
						a.socials__vk(href="" target="_blank") 
						a.socials__youtube(href="" target="_blank") 
			.footer__copyright © 2023 ООО «ПродКонрактИнвест». Все права защищены


script(src="./libs/js/jquery.min.js")
script(src="./libs/js/jquery.maskedinput.js")
script(src="./libs/slick/slick.js")
script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
//- script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
script(src="./js/main.js")