footer.footer
	.container
		.footer__inner
			.footer__info
				.footer__logo 
					a(href="index.html")
						img(src="./img/logo.png" alt="")
				.footer__menu 
					ul 
						li 
							a(href="catalog.html") КАТАЛОГ
						li 
							a(href="where-buy.html") где купить
						li 
							a(href="news.html") новости и статьи
					ul
						li 
							a(href="contacts.html") контакты
				.footer__contacts 
					a.footer__phone(href="tel:+7 928 229-78-08") +7 928 229-78-08
					a.footer__mail(href="mailto:pki.zoo-mir@yandex.ru") pki.zoo-mir@yandex.ru
					a.footer__address(href="" target="_blank") 347041, Ростовская область, г. Белая Калитва, Совхозная, 52а
					.footer__socials.socials
						a.socials__vk(href="" target="_blank") 
						a.socials__youtube(href="" target="_blank") 
			.footer__copyright © 2023 ООО «ПродКонрактИнвест». Все права защищены
#thanks-popup.white-popup.mfp-hide
	.popup 
		.popup__title Ваша заявка принята
		.popup__text в ближайшее время с вами свяжется наш специалист
#order-popup.white-popup.mfp-hide
	.popup 
		.popup__title Заказать
		.popup__text Наш специалист свяжется с вами в ближайшее время.
		.popup__form
			form.form
				.form__input-block
					input.form__input(type="text" value="" name="")
					label.form__label ФИО *
				.form__input-block
					input.form__input(type="tel" value="" name="")
					label.form__label Телефон *
				.form__input-block
					input.form__input(type="email" value="" name="")
					label.form__label Email *
				.form__input-block
					input.form__input(type="text" value="" name="")
					label.form__label “Телятина и баранина» кусочки мяса в соусе”
				.form__textarea-block
					textarea.form__textarea
					label.form__label Комментарий
				.form__agree
					+custom-checkbox('Я прочитал и принимаю условия Политики конфиденциальности и Правил обработки персональных данных')
				button.button.button_full.form__submit.open-popup-link(type="submit" data-mfp-src="#thanks-popup") ЗАКАЗАТЬ


