.bg-menu
header.header
	.container
		.header__inner
			a.logo(href="index.html")
				img(src="./img/logo.png" alt="")
			nav.nav
				ul.nav__list 
					li.nav__list-item
						a.nav__link(href="catalog.html") каталог
					li.nav__list-item
						a.nav__link(href="where-buy.html") где купить
					li.nav__list-item
						a.nav__link(href="news.html") новости и статьи
					li.nav__list-item
						a.nav__link(href="contacts.html") контакты
				.header__contacts
					a.header__phone(href="tel:+7 928 229-78-08") +7 928 229-78-08
					a.header__mail(href="mailto:pki.zoo-mir@yandex.ru") pki.zoo-mir@yandex.ru
					.header__address 347041, Ростовская область, г. Белая Калитва, Совхозная, 52а
					.header__socials.socials
						a.socials__vk(href="" target="_blank") 
						a.socials__youtube(href="" target="_blank") 
			.search 
				span.search__icon
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><circle cx="11.5" cy="11.5" r="9.5" stroke="#0C0C0C" stroke-width="1.5"/>  <path d="M18.5 18.5L22 22" stroke="#0C0C0C" stroke-width="1.5" stroke-linecap="round"/></svg>
				form.search__form(action="" method="get")
					button.search__button(type="submit")
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><circle cx="11.5" cy="11.5" r="9.5" stroke="#0C0C0C" stroke-width="1.5"/>  <path d="M18.5 18.5L22 22" stroke="#0C0C0C" stroke-width="1.5" stroke-linecap="round"/></svg>
					input.search__input(type="text" value="" placeholder="Поиск") 
					.search__results 
						.search__result 
							a(href="") Консервированные корма с травами для кошек
						.search__result 
							a(href="") Консервированные корма для собак
						.search__result 
							a(href="") Консервированные корма
			button.hamburger(type="button")
				span
				span
				span
				