.footer {
  margin-top: 5rem;
  padding-bottom: 5rem;
  @media (max-width: $breakpoint-tablet) {
    padding-bottom: 1.6rem;
  }
  &__inner {
    border-radius: 1rem;
    background: #fff;
    padding: 4.6rem 13.7rem 6.5rem 4.8rem;
    @media (max-width: 1440px) {
      padding-right: 6.3rem;
    }
    @media (max-width: $breakpoint-tablet) {
      padding: 3.2rem;
    }
  }
  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
    }
  }
  &__top {
    padding-top: 5rem;
    padding-bottom: 5rem;
    @include flex-center-start;
    gap: 1rem;
    @media (max-width: $breakpoint-tablet) {
      flex-wrap: wrap;
      gap: 2rem;
    }
  }
  &__logo {
    max-width: 15.7rem;
    margin-right: 13.3rem;
    @media (max-width: $breakpoint-tablet) {
      max-width: 7.8rem;
      margin-right: 0;
      margin-bottom: 3.2rem;
    }
    img {
      display: block;
    }
  }

  &__text {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 130%;
    max-width: 21rem;
    margin-right: 5rem;
    @media (max-width: $breakpoint-tablet) {
      margin-right: 0;
      font-size: 1.6rem;
      max-width: 15rem;
    }
  }
  &__contacts {
    max-width: 27rem;
    margin-left: auto;
    @media (max-width: $breakpoint-tablet) {
      max-width: 100%;
      margin-left: 0;
    }
  }
  &__address {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 3rem;
    display: block;
    @include hover;
  }
  &__mail {
    display: block;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    margin-bottom: 1.2rem;
    color: $color-text-dark;
    @include hover;
  }
  &__phone {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    display: block;
    margin-bottom: 1rem;
    color: $color-text-dark;
    font-family: $font;
    @include hover;
  }

  &__menu {
    display: flex;
    gap: 15.3rem;
    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      gap: 3rem;
      margin-bottom: 3.2rem;
    }
    ul {
      @include ul-clean;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      li {
        a {
          font-size: 2rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          color: $color-text-dark;
          text-transform: uppercase;
          font-family: $font;
          @include tr;
          &:hover {
            color: #ffa200;
          }
        }
      }
    }
  }
  &__copyright {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    @media (max-width: $breakpoint-tablet) {
      margin-top: 3rem;
      font-size: 1.4rem;
    }
  }
}

.socials {
  @include flexcc;
  gap: 1rem;
  justify-content: flex-start;
  a {
    display: flex;
    @include wh(6rem);
    border-radius: 50%;
    @include tr;
  }
  &__vk {
    background: url(../img/vk.svg) center no-repeat #07f;
    &:hover {
      background-color: #005bc3;
    }
  }
  &__youtube {
    background: url(../img/youtube.svg) center no-repeat #f40000;
    &:hover {
      background-color: #d10000;
    }
  }
}
