.logo {
  display: block;
  position: relative;
  max-width: 8.7rem;
  img {
    display: block;
  }
  @media (max-width: $breakpoint-tablet) {
    margin-right: 2rem;
  }
  // @media (max-width: $breakpoint-mobile) {
  //   max-width: 11.3rem;
  // }
}
.bg-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: rgba(239, 239, 239, 0.9);
  display: none;
  .open-menu-menu & {
    display: block;
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
}
.hamburger {
  cursor: pointer;
  background: none;
  padding: 0;
  position: relative;
  z-index: 999;
  width: 3rem;
  height: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  display: none;
  flex: none;
  span {
    width: 100%;
    height: 1px;
    background: $color-text-dark;
    @include tr;
    &:nth-child(1) {
      .open-menu & {
        transform: rotate(45deg);
        background: #ffa200;
      }
    }
    &:nth-child(3) {
      .open-menu & {
        transform: rotate(-45deg) translate(0.4rem, -0.4rem);
        background: #ffa200;
      }
    }
    &:nth-child(2) {
      width: 50%;
      .open-menu & {
        display: none;
      }
    }
  }
  @media (max-width: $breakpoint-tablet) {
    @include flexcc;
    align-items: flex-start;
  }
}
.header {
  position: relative;
  padding-top: 2.1rem;
  padding-bottom: 1.7rem;
  @media (max-width: $breakpoint-tablet) {
    padding-top: 1.6rem;
    padding-bottom: 2rem;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4.3rem;
    position: relative;
    @media (max-width: $breakpoint-tablet) {
      gap: 0rem;
    }
  }

  @media (max-width: $breakpoint-mobile) {
  }

  &__address {
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  &__mail {
    display: block;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    color: #000;
    margin-bottom: 2rem;
  }
  &__phone {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    display: block;
    color: #000;
    margin-bottom: 1.4rem;
  }
  &__contacts {
    font-family: $font-second;
    display: none;
    @media (max-width: $breakpoint-tablet) {
      .open-menu & {
        display: block;
        .socials {
          display: flex;
          margin-top: 6rem;
        }
      }
    }
  }
  .socials {
    margin-left: auto;
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
}
.nav {
  @media (max-width: $breakpoint-tablet) {
    left: -200vw;
    @include tr-slow;
    position: absolute;
    top: -1.6rem;
    background: #f7f7f7;
    width: calc(100% + 3.2rem);
    z-index: 998;
    padding-left: 2.8rem;
    padding-right: 2.8rem;
    padding-top: 3.9rem;
    padding-bottom: 6.4rem;

    .open-menu & {
      // display: block;
      // background: #f7f7f7;
      // width: calc(100% + 3.2rem);
      // position: absolute;
      // top: -1.6rem;
      left: -1.6rem;
      box-shadow: -4px 14px 33px 0px rgba(0, 0, 0, 0.1),
        -16px 57px 60px 0px rgba(0, 0, 0, 0.09),
        -36px 129px 80px 0px rgba(0, 0, 0, 0.05),
        -64px 229px 95px 0px rgba(0, 0, 0, 0.01),
        -100px 359px 104px 0px rgba(0, 0, 0, 0);
    }
  }
  .search-active & {
    display: none;
    @media (max-width: 1024px) {
      display: block;
    }
  }
  &__list {
    @include flexcc;
    @include ul-clean;
    gap: 5rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: $color-text-dark;
    // .open-menu & {
    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      align-items: flex-start;
      gap: 3rem;
      margin-bottom: 12rem;
    }
    &-item {
      font-family: $font;
    }
  }
  &__link {
    font-family: $font;
    color: $color-text-dark;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    @include tr;
    // .open-menu & {
    @media (max-width: $breakpoint-tablet) {
      font-size: 2.4rem;
    }
    &:hover {
      color: #ffa200;
    }
  }
}
