// $fa-font-path: "../webfonts";
$font: 'Berlin Type';
$font-second: 'Montserrat', sans-serif;
$color-text-dark: rgba(12, 12, 12, 1);
$color-text-light: rgba(247, 247, 247, 1);
$color-primary: #ff7a0e;
$color-text-accent: #ffa200;

$color-second: #2383f7;
$color-link: #2c2b3c;

// $primary-color: #f8bbd0 !default;
// $accent-color

$color-border: #eff0f1;

$color-input-border: #e4e6e9;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 767px;
